[Unit]
Description=NyanSD service discovery server

[Service]
ExecStart=/usr/local/bin/nyansdd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
